.app{
    width: 100%;
    height: 100%;
    display: flex;
}

.app-left, .app-right {
    width: 22%;
    height: calc(100% + 10px);
    box-sizing: border-box;
    margin-top: -10px;
}
.app-center{
    width: calc(56% - 20px);
    margin: 30px 10px 0px 10px;
    height: calc(100% - 30px);
    box-sizing: border-box;
    background-image: url('./img/centerbg.png');
    background-size: 100% 100%;
}
.item{
    height: calc(33.333333% - 10px);
    margin-top: 10px;
    box-sizing: border-box;
}
.item-top-right{
    height: 30px;
    font-size: 16px;
    color: rgb(1, 202, 251);
    font-weight: 900;
    background-image: url('./img/rightblockbg_top.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 20px;
    line-height: 30px;
    text-align: right;

}

.item-top-left{
    height: 30px;
    font-size: 16px;
    color: rgb(1, 202, 251);
    font-weight: 900;
    background-image: url('./img/leftblockbg_top.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 20px;
    line-height: 30px;
}
.item-bottom{
    padding: 10px 20px;
    box-sizing: border-box;
    background-image: url('./img/leftblockbg_bottom.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: calc(100% - 30px);
}
.row >span{
    display: inline-block;
}
.row{
    display: flex;
    line-height: 26px;
    align-items: center;
    overflow: hidden;
}
.info{
    display: inline-block;
    padding: 0 10px;
    width: 70px;
}
.icon-star{
    display: inline-block;
    background-image: url('./img/stariconc.png');
    background-repeat: no-repeat;
    height: 16px;
    width: 17px;
}
.time{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.opt{
    color: rgb(33, 154, 255);
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
}
.statistics-data{
    height: 200px;
    padding: 18px 30px 0 30px;
    border-bottom: 1px;
    border-bottom-color: rgb(9, 58, 103);
    border-bottom-style: solid;
    border-image: linear-gradient(90deg, rgba(255,255,255,0.00) 1%,rgb(9,58,103) 50%, rgba(255,255,255,0.00) 99%) 2 2 2 2;
}
.chart{
    display: flex;
    height: calc(50% - 100px);
}
.chart-first{
    border-bottom: 1px;
    border-bottom-color: rgb(9, 58, 103);
    border-bottom-style: solid;
    border-image: linear-gradient(90deg, rgba(255,255,255,0.00) 1%,rgb(9,58,103) 50%, rgba(255,255,255,0.00) 99%) 2 2 2 2;
}
.chartItem{
    width: 50%;
    box-sizing: border-box;
    padding: 18px 30px 0 30px;
}

.chartItemRight{
    border-right: 1px;
    border-right-color: rgb(9, 58, 103);
    border-right-style: solid;
}
.sb-title{
    width: 100%;
    color: rgb(33,154,255);
    font-size: 16px;
    font-weight: 900;
    padding-left: 30px;
    height: 34px;
    line-height: 34px;
    display: flex;
    align-items: center;
    /* padding: 0 40px; */
}
.sb-title-icon{
    height: 33px;
    width: 30px;
    margin-right: 8px;
}
.totals{
    color: rgb(0, 200, 255);
    font-size: 24px;
    font-weight: 900;
}
.data-row{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
    height: 50px;
}
.data-col{
    text-align: center;
}
.data-row-box{
    height: 148px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0;

}